vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Jun 2007 14:26:18 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|10 Jun 2007 14:26:18 -0000
vti_filesize:IR|153
vti_cachedlinkinfo:VX|S|datePicker.gif
vti_cachedsvcrellinks:VX|FSUS|JAC/OA/OAWebReport/Js/My97DatePicker/skin/datePicker.gif
vti_lineageid:SR|{65B1AF2C-0CC9-41D0-A1DC-DB771E1B6970}
vti_backlinkinfo:VX|
